:root {
  --c-base: #31743F;
  --c-sub-brown: #90653A;
  --c-sub-orange: #D35228;
  --c-sub-yellow: #D1BA3A;
  --c-sub-lightblue: #A0D3D3;
  // c-accent:;
  --c-text: #4A3217;
  --c-text-sub: #ffffff;

  --c-hover: #66adea;
  --c-footBg: #9A9A9A;
  --c-bg: #FFFBEB;
  --c-bgTb: #EBF6FF;

  --c-wh: #ffffff;
}