@use "../../variable/" as v;

.c-header {
  position: absolute;
  width: 100%;
  height: 144px;
  padding: 28px 17px 0 17px;
  display: flex;
  justify-content: space-between;

  &Left {
    display: flex;
    margin-top: 11px;
    justify-content: flex-start;
    gap: 21px;
    margin-left: 33px;

    p {
      color: var(--c-wh);
      &:first-child {
        font-size: v.rem(20);
        font-weight: 900;
        line-height: 26px;
      }
      &:last-child {
        font-size: v.rem(12);
        font-weight: 700;
      }
    }
  }
  &Right {
    padding: 15px 30px;
    border-radius: 10px;
    background: rgba(251, 254, 255, 0.9);
    color: var(--c-text-sub);
    position: fixed;
    right: 28px;
    z-index: 9999;
    @include v.mp(ts) {
      padding: 18px;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      a {
        padding: 15px 0;
        transition: 0.3s ease-in-out;
        &:hover {
          color: var(--c-lightblue-hover);
          svg path {
            fill: var(--c-lightblue-hover);
            transition: fill 0.3s ease-in-out;
          }
        }
      }
    }
    &_share {
      a {
        display: flex;
        align-items: center;
        gap: 5px;
        & path:hover {
          fill: var(--c-lightblue-hover);
        }
      }
    }
    &_contact {
      background-color: var(--c-text-sub);
      padding: 15px 20px !important;
      color: var(--c-wh) !important;
      border-radius: 5px;
      &:hover {
        color: var(--c-wh) !important;
        background-color: var(--c-lightblue-hover);
      }
    }
  }
}
