@use "../../variable/" as v;

.c-menu {
  width: 100%;
  margin: 0 auto;

  &Inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 100px 42px;
    background: linear-gradient(
      98deg,
      rgba(48, 136, 213, 0.62) 11.08%,
      rgba(0, 103, 194, 0.62) 88.92%
    );
    @include v.mp(ts) {
      flex-direction: column;
      padding: 100px 30px;
    }

    &--sp {
      @include v.mp(ts) {
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      top: -158px;
      right: 21px;
      width: 239.993px;
      height: 159.975px;
      background-image: url("../../src/img/component/menu/menuTreat.svg");
      background-size: cover;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &_card {
      max-width: 421px;
      width: calc(421 / 1440 * 100%);
      background-color: var(--c-wh);
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 30px 0 40px;
      color: var(--c-base);
      @include v.mp(ts) {
        width: 100%;
        min-width: none;
        margin: 0 auto;
        text-align: left;
        gap: 16px;
      }

      &_img {
        width: fit-content;
        height: auto;
        margin-top: auto;
        margin-inline: auto;

        &.--01 {
          width: 69px;
          height: 93px;
          @include v.mp(ts) {
            width: 47px !important;
            height: 64px !important;
          }
        }
        &.--02 {
            width: 76px;
            height: 87px;
            @include v.mp(ts) {
                width: 53px !important;
                height: 61px !important;
            }
        }
        &.--03 {
            width: 69px;
            height: 69px;
            @include v.mp(ts) {
                width: 56px;
                height: 56px;
            }
        }

      }

      p {
        font-size: v.rem(14);
        font-weight: 500;
        line-height: 36px;
        @include v.mp(ts) {
            line-height: 20px;
            text-align: left;
            font-size: v.rem(16);
        }
      }
      
      h4 {
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
}
