@use '../variable/' as v;

.l-wrap {
  &-1100 {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
  }

  &-1277 {
    max-width: 1277px;
    width: calc(1277 / 1440 * 100%);
    margin: 0 auto;
    width: 100%;
    padding-inline: 20px;
    @include v.mp(ts) {
      width: 100%;
      padding-inline : 20px;
    }
  }

  &-1360 {
    max-width: 1360px;
    margin: 0 auto;
    padding: 20px;
  }

  &-1440 {
    max-width: 1440px;
    margin: 0 auto;
  }


}
